
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB ->

<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB --

<%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" %>
<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %>

<img class="photo__pic" src="https://retina.news.mail.ru/pic/d8/b5/image27582615_2b6b7a5e19d6174e367a1f6c1b9f8900.jpg">
 -->
 <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js' %>



<div class="container">

  <div class="fotorama" data-nav="thumbs"
                        data-navposition="top"
                        data-transition="crossfade">

    <%= image_tag("test.jpg" ) %>
    <%= image_tag("test2.jpg" ) %>
    <%= image_tag("test3.jpg" ) %>
    <%= image_tag("test4.jpg" ) %>
    <%= image_tag("test5.jpg" ) %>

  </div>
</div>
<%%>
