<!DOCTYPE html>
<html>
<head>
  <title>Sygi Ban</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>

<%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js' %>
<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %>
<%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" %>
<%= yield %>

</body>
</html>
